body{
	background-color: #f1f1f1;
}

.btn-fechar{
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 999;
}

#left, #right, #top, #bottom{
	background: #fff;
	position: fixed;
	z-index: 999;
}

#left, #right{
	top: 0;
	bottom: 0;
	width: 15px;
}

#left{
	left: 0;
}

#right{
	right: 0;
}

#top, #bottom{
	left: 0;
	right: 0;
	height: 15px;
}

#top{
	top: 0;
}

#bottom{
	bottom: 0;
}

.load-container{
	position: absolute;
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 998;
}

.text-load{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}

.titulo-load{
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 5.5em;
	color: #000;
}

.subtitulo-load{
	font-family: 'Oswald', sans-serif;
	font-size: 1.0625em;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin-top: 15px;
	color: #0509bb;
}

.linha-load{
	width: 30px;
	height: 2px;
	background-color: #0509bb;
	margin: 0 auto;
	margin-top: 20px;
	-webkit-animation-name: load;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration: infinite;
	animation-name: load;
	animation-duration: 2.8s;
	animation-iteration-count: infinite;
}

@keyframes load{
	0% {width: 30px;}
	50% {width: 100%;}
	100% {width: 30px;}
}

#container{
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
}

.header-home{
	background: url("../images/resources/background_home.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 407px;
	text-align: center;
}

.linha{
	position: absolute;
	top: 0;
	left: 50%;
	-ms-transform: translateX(-112%);
	-webkit-transform: translateX(-112%);
	transform: translateX(-112%);
	z-index: 1;
}

#titulo-header{
	padding-top: 80px;
	text-align: center;
	z-index: 2;
}

#titulo-header h1{
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 5.5em;
	color: #000;
}

#titulo-header h2{
	font-family: 'Oswald', sans-serif;
	font-size: 1.0625em;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin-top: 15px;
	color: #0509bb;
}

.linha-horizontal{
	width: 30px;
	height: 2px;
	background-color: #0509bb;
	margin: 0 auto;
	margin-top: 20px;
}

.content{
	width: 90%;
	margin: 0 auto;
}

.link-thumb-elevador{
	width: 100%;
	position: relative;
	float: right;
	z-index: 1;
}

.link-thumb-friboi{
	margin-top: -80px;
	width: 100%;
	position: relative;
	float: left;
	z-index: 1;
}

.link-thumb-pernamb-social{
	margin-top: -70px;
	width: 100%;
	position: relative;
	float: right;
	z-index: 1;
}

.link-thumb-agasalho{
	margin-top: -65px;
	width: 100%;
	position: relative;
	float: left;
	z-index: 1;
}

.link-thumb-momento-outback{
	margin-top: -20px;
	width: 100%;
	position: relative;
	float: right;
	z-index: 1;
}

.link-thumb-jeans{
	margin-top: -60px;
	width: 100%;
	position: relative;
	float: left;
	z-index: 1;
}

.link-thumb-brooklyn{
	margin-top: -63px;
	width: 100%;
	position: relative;
	float: right;
	z-index: 1;
}

.thumb-right{
	float: right;
	-ms-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.thumb-left{
	float: left;
}

.titulo-elevador{
	position: absolute;
	-moz-margin-left: calc(100% - 725px);
	-webkit-margin-left: calc(100% - 725px);
	margin-left: calc(100% - 725px);
	top: 35%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.titulo-friboi{
	position: absolute;
	margin-left: 400px;
	top: 45%;
	-ms-transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	transform: translateY(-40%);
	z-index: 2;
}

.titulo-pernamb-social{
	position: absolute;
	-moz-margin-left: calc(100% - 825px);
	-webkit-margin-left: calc(100% - 825px);
	margin-left: calc(100% - 825px);
	top: 55%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.titulo-agasalho{
	position: absolute;
	margin-left: 400px;
	top: 50%;
	-ms-transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	transform: translateY(-40%);
	z-index: 2;
}

.titulo-momento-outback{
	position: absolute;
	-moz-margin-left: calc(100% - 868px);
	-webkit-margin-left: calc(100% - 868px);
	margin-left: calc(100% - 868px);
	top: 45%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.titulo-jeans{
	position: absolute;
	margin-left: 400px;
	top: 55%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.titulo-brooklyn{
	position: absolute;
	-moz-margin-left: calc(100% - 760px);
	-webkit-margin-left: calc(100% - 760px);
	margin-left: calc(100% - 760px);
	top: 55%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}

.titulo-link > h2{
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 4.375em;
	color: #000;
	text-align: left;
}

.titulo-link > p{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin: 20px 0px 20px 0px;
	color: #0509bb;
	text-align: left;
}

.linha-titulo{
	width: 65px;
	height: 2px;
	background-color: #0509bb;
	float: left;
}

.linha-titulo-hidden{
	position: absolute;
	padding: 0;
	margin: 0;
	width: 191px;
	text-align: center;
}

.linha-titulo-hidden p{
	padding: 8px 8px 8px 14px;
	background-color: #0509bb;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #fff;
}

.col-1, .col-2{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	color: #0509bb;
	text-align: left;
	letter-spacing: 0px;
	line-height: 22px;
	width: 30%;
	display: inline-block;
}

.col-1{
	float: left;
}

.col-1 > p, .col-2 > p{
	margin: 20px 0px 20px 0px;
}

.col-1 span, .col-2 span{
	color: #000;
}

.col-1 > p:first-of-type, .col-2 > p:first-of-type{
	margin-top: 5px;
}

.link-thumb:last-of-type{
	margin-bottom: 50px;
}

.footer-home{
	text-align: center;
	margin-bottom: 45px;
}

.btn-subir{
	cursor: pointer;
}

/* Pages */
.content-pages{
	width: 100%;
	text-align: center;
}

.footer-pages{
	position: relative;
	width: 100%;
	height: 199px;
	background: #2c93a5;
	-webkit-background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	-o-background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	-moz-background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	margin-bottom: 15px;
	text-align: center;
}

.footer-pages a{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 2.8125em;
	color: #000;
	text-decoration: none;
	top: 40%;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: color 0.6s;
	transition: color 0.6s;
	z-index: 2;
}

.footer-pages a:hover{
	color: #0509bb;
}

.footer-pages > img{
	position: relative;
	left: 1.5%;
	z-index: 1;
}

.header-pages{
	background: #f1f1f1;
	-webkit-background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	-o-background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	-moz-background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	background: linear-gradient(180deg, #2c93a5, #f1f1f1);
	height: 508px;
	margin-top: 15px;
	overflow: hidden;
}

.header-img{
	width: 45%;
	height: 508px;
	float: left;
	text-align: center;
}

.titulo-pages{
	width: 45%;
	float: right;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Desktop na tela */
.content-head-desktop{
	width: 100%;
	height: 495px;
	background-color: #fff;
}

.desktop-image{
	position: relative;
	top: -31px;
	margin: 0 auto;
	z-index: 2;
}

.desktop-image > img{
	width: 100%;
	max-width: 960px;
	height: auto;
}

.projeto{
	margin: 50px 0 50px 0;
}

.projeto-image{
	width: 90%;
	margin: 0 auto;
}

.projeto-image > img{
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin-bottom: 20px;
}

.projeto-image > img:last-of-type{
	margin-bottom: 0px;
}

/* Eu ouvi Outback */
.elevador-img{
	margin-top: 30px;
}

.content-head-elevador{
	width: 100%;
	background-color: #fff;
	padding: 50px 0 50px 0;
}

.video{
	text-align: center;
}

.video > iframe{
	width: 800px;
	height: 450px;
}

/* Aqui tem confiança */
.tony-img{
	margin-top: 35px;
}

/* Social Media Pernambucanas */
.modelo01-img{
	margin-top: 21px;
}

.content-head-social{
	width: 100%;
	background-color: #fff;
	overflow: visible;
	margin: 0 auto;
	padding-top: 50px;
}

.projeto-posts{
	width: 90%;
	padding-bottom: 50px;
	margin: 0 auto;
}

.projeto-image-col-left, .projeto-image-col-right{
	display: inline-block;
	width: 48%;
	text-align: center;
}

.projeto-image-col-left > img, .projeto-image-col-right > img{
	margin-bottom: 7.5em;
	width: 100%;
	height: auto;
}

.projeto-image-col-left > img:last-of-type, .projeto-image-col-right > img:last-of-type{
	margin-bottom: 0em;
}

.projeto-image-col-left{
	float: left;
}

.projeto-image-col-right{
	margin-top: 18.125em;
}

/* Campanha do agasalho */
.modelo02-img{
	margin-top: 5px;
}

/* Meu momento outback */
.cebola-img{
	margin-top: 100px;
	width: 100%;
	max-width: 631px;
	height: auto;
}

/* Jeans Mania */
.modelo03-img{
	margin-top: 9px;
}

.projeto-image-jeans{
	width: 90%;
	margin: 0 auto;
}

.projeto-image-jeans > img{
	width: 100%;
	max-width: 942px;
	height: auto;
	margin-bottom: 20px;
}

.projeto-posts-jeans{
	width: 90%;
	max-width: 942px;
	margin: 0 auto;
	display: inline-block;
}

.projeto-posts-jeans > img{
	width: 49%;
	max-width: 800px;
	height: auto;
	float: left;
}

.projeto-posts-jeans > img:first-of-type{
	margin-right: 2%;
}

/* Brooklyn Nine-Nine */
.brooklyn-img{
	margin-top: 36px;
}

.content-head-ipad{
	width: 100%;
	height: 660px;
	background-color: #fff;
	overflow: visible;
	margin: 0 auto;
}

.ipad-image{
	position: relative;
	top: -50px;
	margin: 0 auto;
	z-index: 2;
}

.ipad-image > img{
	width: 100%;
	max-width: 696px;
	height: auto;
}

.projeto-image-ipad > img{
	position: relative;
	width: 100%;
	max-width: 696px;
	height: auto;
	margin-bottom: 20px;
}

.projeto-image-brooklyn{
	width: 90%;
	margin: 0 auto;
}

.projeto-image-brooklyn > img{
	width: 100%;
	max-width: 1024px;
	height: auto;
}